//headings
$headings-color: #282828;
$h1-font-size: 80px;
$h2-font-size: 60px;
$h3-font-size: 30px;
$h4-font-size: 20px;
$headings-font-family: "Noto Sans";
$headings-line-height:1;
$headings-font-weight:700;



//colors
$primary:#e56161;
$secondary:#107e7d;
$gray-100:#ededed;
$gray-900:#202020;
$danger: #e56161;

//base
$font-family-base:"Noto Sans";
$font-size-base:1rem;
$font-size-sm: $font-size-base * .875 !default;

//links
$link-color:black;

//cards
$card-border-width:0px;

//containers
$container-padding-x:0px;

//borders
$border-width:2px;
$border-radius:0px;

//navbar
.navbar {
  padding:0 1.5rem;
}
.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: $link-color;
}

.navbar-nav {
  margin: 0 auto;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}

$navbar-light-active-color:red;


//buttons
$btn-font-family:"Anonymous Pro";
.fill {
    font-size: 16px;
    font-family: $btn-font-family;
    font-weight: bold;
    padding: 10px 20px 10px;
    outline: 0;
    border: 2px solid black;
    cursor: pointer;
    position: relative;
    top: 7px;
    background-color: rgba(0, 0, 0, 0);
  }
  
.fill::after {
    content: "";
    background-color: $primary;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}
  
.fill:hover::after {
    top: 0px;
    left: 0px;
}

//layout
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .5,
  2: $spacer,
  3: $spacer * 2,
  4: $spacer * 5,
  5: $spacer * 10,
);

#active {
  border-bottom: $border-width solid $secondary;
}

.nav-link:hover {
  border-bottom: $border-width solid $secondary;
}

//footer

#footer-info {
  background-color: $gray-900;
  color:white;
  padding: 0;
}

#footer-info .card-body {
  padding: 0px;
  font-size: $font-size-sm;
}

#footer-info .card-body p {
  font-size: $font-size-sm;
}


#footer-info img {
  width: 80px;
}

#footer a {
  font-size: $font-size-sm;
}

//misc

.skew{
  height: 200px;
  transform: skewY(-2deg);
  background-color: #fff;
  margin-top: -30px;
}

 
.inverted {
  height: 100vh;
  overflow: auto;
}

span a {
  color: $primary;
  text-decoration: none;
}

div a {
  text-decoration: none;
}

#faq img {
  max-width: 80%;
  width: 100%;
}


$accordion-button-focus-border-color:white;
$grid-gutter-width:1px;
$badge-font-size: $font-size-sm;
$badge-font-weight: normal;
$list-group-border-width: 0px;
$accordion-border-width: 0px;

div#featured {
  border:1px solid $secondary;
}

//gsap

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: blue;
  font-family: "montserrat", sans-serif;
}
h2 {
  text-transform: uppercase;
  font-size: 5rem;
  color: #fff;
  letter-spacing: 0.8rem;
}
.horizontal-container {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}
.main-wrapper {
  width: 100%;
  height: auto;
}
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  background-color: rgb(110, 0, 0);
}
#about {
  background-color: rgb(197, 98, 5);
}
#projects {
  background-color: rgb(207, 221, 13);
}
#project01 {
  background-color: rgb(26, 224, 19);
}
#project02 {
  background-color: rgb(2, 156, 79);
}
#project03 {
  background-color: rgb(9, 138, 73);
}
#contact {
  background-color: rgb(16, 158, 214);
}


@import '../bootstrap/scss/bootstrap';
