
.navbar-brand #logo {
    max-width: 50px;
    width: 100%;
}

.header {
    padding: 50px 0px 50px 0px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}

/*Horizontal scroll*/

html,body{
  padding:0;
  margin:0;
}
body {
  overflow-x: hidden;
}

#panel {
  background-color:grey;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  height:100vh;
  position: sticky;
}

.module{
  height:100vh;
  display:flex;
  position: sticky;
}

.green{
  width:500px;
  background-color:green;
}

.yellow{
  width:1300px;
  background-color:yellow;
}

.purple{
  width:800px;
  background-color:purple;
}

.orange{
  width:800px;
  background-color:purple;
}

.blue{
  width:2100px;
  background-color:blue;
}

.red{
  width:900px;
  background-color:red;
}

.partners {
  max-width:150px;
  max-height:80px;
  width: auto;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


.tehnologije {
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-left: 10px;
}

